body {
display: flex;
align-items: center;
justify-content: center;
background: rgb(58,156,27);
background: linear-gradient(144deg, rgb(83, 0, 96) 0%, rgb(0, 29, 87) 60%);

}

#headerpic{
    display: flex;
    height: 80px;
    width: 1000px;
}