* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

background: rgb(58,156,27);
background: linear-gradient(100deg, rgb(242, 179, 252) 0%, rgb(135, 199, 255) 60%);
}

.container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin:auto;  
}

#coinmarketcap-widget-marquee {
    width: 1000px;
}

#widget {
    width: 100%;
}

#submitbutton {
    display: flex;
    align-self: center;
    margin: 20px auto;
    height: 60px;
    width: 200px;
    border-radius: 25px;  
    background: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    cursor:pointer;
    /* don't forget att lägga till ljudeffekt?! */
}

/* .coin-marquee-container__inner {
    max-width 200px; */

    
}

#navbar{
    display: flex;
    margin-top: 10px;
   align-items: center;
   margin: auto;
   
}


#headerpic{
    width: 100%;
    margin-top: 20px;
    align-self: center;
    display: block;

}

/*Fixa table position */
.crypto-table {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* ska komma in efter datatablen */
#cryptoform {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(124, 0, 114);
}